.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    margin-left: 150px;
}

.dialogsitems {
    padding: 10px;

}

.dialogsitems .active {
    color: #978d20;

}

.dialog {

}

.messages {
    padding: 10px;
}


.message {

}
