.diag {
    height: 700px;
}


.headercon  {
    height: 20px;
    grid-area: c;
  /*  background-color: #7ea1bd;*/
    color: #ce8383;
    text-decoration: none;
}
.headercon a.active {
    color: #3e7b82;
}
