@import "assets/css/material-dashboard.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.not-found {
  margin-top: 30px;
  font-size: 20px;
  color: rgba(74, 74, 74, 0.98);
  text-align: center;

}

.pointer {
  cursor: pointer;
}

.size25 {
  font-size: 25px !important;
}

.mat-form-field {
  width: 100%;
}

.mat-dialog-container {
  padding: 40px !important;
}

.red {
  color: red;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.line {
  border-bottom: 1px solid #dadada;
  padding-top: 20px;
}

.gray {
  color: #8f8f8f;
}


app-header {
  width: 100%;
}

.ng-sidebar {
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.4);
}

.main-panel > .content {
  margin-top: 30px;
  background-color: transparent !important;
}





@-webkit-keyframes glowing {
  0% {
    -webkit-box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 3px #1e1d16;
  }
}

@-moz-keyframes glowing {
  0% {
    -moz-box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    -moz-box-shadow: 0 0 3px #1e1d16;
  }
}

@-o-keyframes glowing {
  0% {
    box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    box-shadow: 0 0 3px #1e1d16;
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    box-shadow: 0 0 3px #1e1d16;
  }
}


.blink-button {
  -webkit-animation: glowing 700ms infinite;
  -moz-animation: glowing 700ms infinite;
  -o-animation: glowing 700ms infinite;
  animation: glowing 700ms infinite;
}



/* добавил из angular*/



.not-found {
  margin-top: 30px;
  font-size: 20px;
  color: rgba(74, 74, 74, 0.98);
  text-align: center;

}

.pointer {
  cursor: pointer;
}

.size25 {
  font-size: 25px !important;
}

.mat-form-field {
  width: 100%;
}

.mat-dialog-container {
  padding: 40px !important;
}

.red {
  color: red;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.line {
  border-bottom: 1px solid #dadada;
  padding-top: 20px;
}

.gray {
  color: #8f8f8f;
}


app-header {
  width: 100%;
}

.ng-sidebar {
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.4);
}

.main-panel > .content {
  margin-top: 30px;
  background-color: transparent !important;
}





@-webkit-keyframes glowing {
  0% {
    -webkit-box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 3px #1e1d16;
  }
}

@-moz-keyframes glowing {
  0% {
    -moz-box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    -moz-box-shadow: 0 0 3px #1e1d16;
  }
}

@-o-keyframes glowing {
  0% {
    box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    box-shadow: 0 0 3px #1e1d16;
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    box-shadow: 0 0 3px #1e1d16;
  }
}


.blink-button {
  -webkit-animation: glowing 700ms infinite;
  -moz-animation: glowing 700ms infinite;
  -o-animation: glowing 700ms infinite;
  animation: glowing 700ms infinite;
}

